
body
{
  background: linear-gradient(0.25turn, #24975e, #4df32c, #18d641);
}

/* ELEMENTS */

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  text-shadow: 2px 4px 8px white;
  background: linear-gradient(0.25turn, #025a06, #27c507, #069726);
  padding: 8px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  border-radius: 5px;
}

h2 {
  align-self: center;
  justify-self: flex-start;
  
}

/* BUTTONS */

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px 0px;
  border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(38, 105, 7);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgb(2, 196, 99);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


