

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin: 50px 50px 50px 50px;
  display: grid;
  border: 1px solid black;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
/* DEAD CELL */
.grid-item {
  padding: 5px 1px 20px 1px;
  border: 1px solid black;
  text-align: center;
  background-color: cornsilk;
}

/* ALIVE CELL */