html {
  text-align: center;
  font-family: Monaco;
}

.mainContainer {
  display: flex;
}

.leftContainer {}

.left {
  display: inline-block;
}

.dead {
  background-color: rgb(10, 10, 10);
}

.grayGrid {
  border: 1px solid rgb(100, 100, 100);
}

.alive {
  animation: rainbow-bg 2.5s linear;
  animation-iteration-count: infinite;
  border: 1px solid black;
}

.gridContainer {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(20, 2fr);
  grid-template-rows: repeat(20, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}


@keyframes rainbow-bg {

  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }

  8% {
    background-color: rgb(255, 127, 0);
  }

  16% {
    background-color: rgb(255, 255, 0);
  }

  25% {
    background-color: rgb(127, 255, 0);
  }

  33% {
    background-color: rgb(0, 255, 0);
  }

  41% {
    background-color: rgb(0, 255, 127);
  }

  50% {
    background-color: rgb(0, 255, 255);
  }

  58% {
    background-color: rgb(0, 127, 255);
  }

  66% {
    background-color: rgb(0, 0, 255);
  }

  75% {
    background-color: rgb(127, 0, 255);
  }

  83% {
    background-color: rgb(255, 0, 255);
  }

  91% {
    background-color: rgb(255, 0, 127);
  }
}

/* Disable the buttons when needed*/
.start:disabled,
.pause:disabled,
.clear:disabled,
.randomize:disabled {
  background-color: #eee;
}